<div id="popup-visa" data-custom-popup data-delay="1" aria-hidden="true" class="visa-modal" role="dialog" aria-labelledby="modal-1-title">
  <div tabindex="-1" data-micromodal-close class="visa-modal__body">
    <div class="visa-modal__container">
      <button class="visa-modal__close" type="button" data-micromodal-close aria-label="Close Modal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
      <div class="visa-modal__inner">
        <div class="visa-modal__content">
          <div class="visa-modal__main">
            <div class="visa-modal__info">
              <h2>
                We’re Moving <br />
                To Visa©
              </h2>
              <h3>A Better Experience is On the Way!</h3>
              <p>
                Penn East Visa® Debit and Credit Cards are arriving in Spring 2026. Please check the detailed
                information about new changes and prepare for the upcoming transition to your new card.
              </p>
              <a href="#" class="visa-modal__button">Check details</a>
            </div>
            <div class="visa-modal__video">
              <video src="/video-popup.mp4" autoplay muted loop playsinline></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
